html,body{
  font-family: 'Noto Sans JP', sans-serif;
}

body{
background-color: transprent;
mix-blend-mode: normal;
}

nav{
box-shadow:none;
}

navbar-nav{
font-style: normal;
font-weight: 700;
size: 30px;
line-height: 30px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
 
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}