html,body{
    font-family: 'Noto Sans JP', sans-serif;
}

body{
  background-color: transprent;
  mix-blend-mode: normal;
}

nav{
  box-shadow:none;
}

navbar-nav{
  font-style: normal;
  font-weight: 700;
  size: 30px;
  line-height: 30px;
  box-shadow:none;
}

/* Styles the photos */

a.container img {
  height: 150px;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  margin: 94px 20px 20px 20px;
  }
  

  
  /* Styles the container image, centers it vertically and horizontally,  makes it responsive using a combination of margin and absolute positioning */
  
  .container img {
  margin: auto;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom: 0;
  max-height: 0%;
  max-width: 0%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  box-sizing: border-box;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  }

  

  