html, body{
    width:100vw;
    height:100vh;
   font-family: Atomic Age;
}

#hero{
    position: relative;
    height:100vh;
    widows: 100vw;
}

#bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("pexels-photo-1029757.jpeg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main_content{
    position: relative;
    text-align: center;
    color: white;
    top: 50vh;
}

.tint{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0, 0.75);
}

